.m-screen-bd-hd {
  font-size: 60px;
  line-height: 94px;
}
.m-screen-bd-title {
  font-size: 40px;
  line-height: 44px;
}
.m-screen-bd-text {
  font-size: 30px;
  line-height: 44px;
}
.m-screen-bd-link {
  font-size: 20px;
  line-height: 34px;
}
.m-screen-bd-tool {
  font-size: 16px;
  line-height: 22px;
}
